<div class="px-[150px] py-10 bg-blue-700">
    <div class="flex justify-between">
        <a href="{% url 'home' %}">
            <h1 class="text-[2rem] font-bold max-w-max underline text-white"><span class="text-white">TELE</span><span class="text-black">Locator</span></h1>
        </a>
        
    </div>

    <div class="mt-10">
        <ul class="flex text-white font-bold flex-col md:flex-row md:justify-between">
            <li>
                <a class="" href="#">
                    Cookie Notice
                </a>
            </li>
            <li>
                <a class="" href="#">
                    Privacy Notice
                </a>
            </li>
            <li>
                <a class="" href="#">
                    EULA
                </a>
            </li>
            <li>
                <a class="" href="#">
                    Terms of Service
                </a>
            </li>
            <li>
                <a class="" href="#">
                    Refund Policy
                </a>
            </li>
            <li>
                <a class="" href="#">
                    Recurring Policy
                </a>
            </li>
        </ul>
        <div class="mt-10">
            <h1 class="text-center font-bold text-2xl text-white">TELELocator © 2024</h1>
        </div>
    </div>
</div>